@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}
.App {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.WrapSide {
  display: flex;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .WrapSide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
